<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="camp-info mb-5">
                <p class="lead">YelpCamp</p>
                <ul class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail mb-5">
                <img class="img-fluid" src="/img/<%= campground.image %>" alt="An image of <%= campground.name %>">
                <div class="figure-caption">
                    <h4 class="float-right">£9.00/night</h4>
                    <h4>
                        <a href="">
                            <%= campground.name %></a>
                    </h4>
                    <p>
                        <%= campground.description %>
                    </p>
                    <p>
                        <em>
                            Submitted by
                            <%= campground.author.username %>
                        </em>
                    </p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning btn-lg" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-lg">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header">
                    <div class="row align-items-end">
                        <div class="col">
                            <h4>Comments</h4>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-primary btn-lg" href="/campgrounds/<%= campground._id %>/comments/new">
                                Add a Comment
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <% campground.comments.forEach(comment => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>
                                <%= comment.author.username %>
                            </strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <a class="btn btn-warning btn-xs" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="d-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                <input class="btn btn-danger btn-xs" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                    <hr>
                    <% }) %>
                    <div>
                        <a href="/campgrounds">&larr; Back to all campgrounds</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>