<% include partials/header %>

<div class="container">
    <h1>
        <%= campground.name %>
    </h1>
    <p>
        <img class="img-fluid" src="../img/<%= campground.image %>" alt="An image of <%= campground.name %>">
    </p>
    <p>
        <%= campground.description %>
    </p>

    <% campground.comments.forEach(comment => { %>
    <p>
        <strong>
            <%= comment.author %>
        </strong>
        says:
        <%= comment.text %>
    </p>
    <% }) %>
</div>

<% include partials/footer %>